<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE taglib PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.2//EN" "http://java.sun.com/dtd/web-jsptaglibrary_1_2.dtd" >
<taglib>
  <tlib-version>1.0</tlib-version>
  <jsp-version>1.0</jsp-version>
  <short-name>t3h tag library descriptor</short-name>
  
  <!-- REQUIRED TAG -->
  <tag>
    <name>required</name>
    <tag-class>vn.t3h.chapter5.tag.RequiredTag</tag-class>
    <body-content>empty</body-content>
    <description>Prints * wherever it occurs</description>
  </tag>

  <!-- GREET TAG -->
  <tag>
    <name>greet</name>
    <tag-class>vn.t3h.chapter5.tag.GreetTag</tag-class>
    <body-content>empty</body-content>
    <description>Prints Hello user! wherever it occurs</description>
    <attribute>
      <name>user</name>
      <required>false</required>
      <rtexprvalue>true</rtexprvalue>
    </attribute>
  </tag>

  <!-- IF TAG -->
  <tag>
    <name>if</name>
    <tag-class>vn.t3h.chapter5.tag.IfTag</tag-class>
    <body-content>JSP</body-content>
    <attribute>
      <name>condition</name>
      <required>true</required>
      <rtexprvalue>true</rtexprvalue>
    </attribute>
  </tag>

  <!-- LOOP TAG -->
  <tag>
    <name>loop</name>
    <tag-class>vn.t3h.chapter5.tag.LoopTag</tag-class>
    <body-content>JSP</body-content>
    <attribute>
      <name>count</name>
      <required>true</required>
      <rtexprvalue>true</rtexprvalue>
    </attribute>
  </tag>
</taglib>
